@font-face {
  font-family: Helvetica Neue Bold;
  src: url(fonts/helvetica-neue-bold.woff);
}
@font-face {
  font-family: Helvetica Neue Medium;
  src: url(fonts/helvetica-neue-medium.woff);
}
@font-face {
  font-family: Helvetica Neue Roman;
  src: url(fonts/helvetica-neue-roman.woff);
}
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-size: 16px;
  background-color: #ea704e;
}
input {
  border: none;
  padding: 0;
}
button {
  border: none;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
}
#wrapper {
  overflow: hidden;
  min-width: 1200px;
}
.ecommerce {
  font-family: Helvetica Neue Bold;
  display: inline-block;
}
.ecommerce_header {
  line-height: 40px;
  border-right: 1px solid #b5b5b5;
  padding: 0 40px;
}
.ecommerce_footer {
  font-size: 12px;
  line-height: 24px;
  border-right: 1px solid #b5b5b5;
  padding: 0 55px 0 40px;
}
.header {
  width: 1160px;
  margin: 70px auto 40px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px #555;
  position: relative;
  padding: 15px 0;
}
.main-menu {
  display: inline-block;
  margin-left: 17px;
}
.main-menu__item {
  text-decoration: none;
  font-family: Helvetica Neue Medium;
  color: #333333;
  margin: 0 22px;
  font-size: 12px;
  position: relative;
}
.main-menu__item_current:after {
  content: '';
  position: absolute;
  right: 0;
  bottom: -12px;
  left: 0;
  border-bottom: 3px solid #333;
}
.search {
  position: absolute;
  top: 0;
  right: 30px;
  bottom: 0;
  margin: auto;
  padding-left: 42px;
  height: 40px;
}
.search:before {
  content: '';
  height: 40px;
  width: 34px;
  border-right: 1px solid #b5b5b5;
  background: url(imgs/search-icon.png) no-repeat 50% 50%;
  position: absolute;
  left: 0;
}
.search__input {
  line-height: 40px;
  height: 40px;
  display: inline-block;
  font-family: Helvetica Neue Medium;
  font-size: 14px;
  padding: 0 13px;
}
.search__input::placeholder {
  color: #b5b5b5;
}
.search__input:focus {
  outline: 1px solid #ccc;
}
.hero {
  width: 1160px;
  height: 500px;
  margin: 40px auto;
  padding: 185px 40px 40px;
  box-shadow: 0 0 10px #555;
  background: #fefefe url(imgs/logo-ban-160x100.png) no-repeat 40px 40px;
  position: relative;
  font-size: 14px;
}
.hero__inner {
  width: 525px;
}
.hero__header {
  font-family: Helvetica Neue Bold;
  font-size: 21px;
  color: #444;
}
.hero__text {
  line-height: 28px;
  margin-top: 24px;
  font-family: Helvetica Neue Roman;
  position: relative;
  z-index: 1;
}
.hero__button {
  margin-top: 44px;
  font-family: Helvetica Neue Bold;
  border: 1px solid #4ca15b;
  height: 43px;
  width: 152px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6ab177', endColorstr='#4ca15b', GradientType=0);
  background-image: linear-gradient(to top, #4ca15b, #5ba969, #6ab177);
  color: #fff;
  border-radius: 1px;
  font-size: 14px;
}
.hero__image {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  vertical-align: bottom;
}
.hero__image:before {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 20%;
  background-image: linear-gradient(to right, #fff, transparent);
}
.main {
  width: 1200px;
  margin: 0 auto;
  overflow: hidden;
  display: block;
}
.product {
  width: 400px;
  padding: 0 20px;
  float: left;
  width: 33.33%;
  margin-bottom: 40px;
}
.product__inner {
  background-color: #fff;
  box-shadow: 0 0 10px #555;
  color: #444;
}
.product__image {
  width: 360px;
  height: 240px;
}
.product__desc {
  padding: 20px 30px 30px;
  position: relative;
}
.product__name {
  font-size: 21px;
  font-family: Helvetica Neue Bold;
  margin-bottom: 15px;
}
.product__color {
  font-size: 12px;
  font-family: Helvetica Neue Roman;
  margin-bottom: 12px;
}
.product__size {
  font-size: 12px;
  font-family: Helvetica Neue Medium;
  margin-bottom: 29px;
}
.product__size-change {
  text-decoration: none;
  color: #65a0b8;
  font-size: 10px;
  margin-left: 5px;
}
.product__price {
  font-family: Helvetica Neue Bold;
  font-size: 28px;
  padding-right: 120px;
}
.product__button {
  border: 1px solid #65a0b8;
  height: 32px;
  width: 112px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#80bbd3', endColorstr='#65a0b8', GradientType=0);
  background-image: linear-gradient(to top, #65a0b8, #71adc5, #80bbd3);
  position: absolute;
  right: 30px;
  bottom: 30px;
  color: #fff;
  font-family: Helvetica Neue Bold;
  font-size: 10px;
}
footer {
  background-color: #f5f5f5;
  color: #333333;
  padding: 13px 0;
  box-shadow: 0 0 10px #555;
  width: 1160px;
  margin: 0 auto 70px;
  position: relative;
}
.social-menu {
  height: 16px;
  position: absolute;
  top: 0;
  right: 24px;
  bottom: 0;
  margin: auto;
}
.social-menu__item {
  background-repeat: no-repeat;
  text-decoration: none;
  display: inline-block;
  height: 16px;
  margin: 0 13px;
}
.social-menu__item_tw {
  background-image: url(imgs/twitter.png);
  width: 14px;
}
.social-menu__item_fb {
  background-image: url(imgs/facebook.png);
  width: 8px;
}
.social-menu__item_vm {
  background-image: url(imgs/vimeo.png);
  width: 14px;
}
.social-menu__item_pn {
  background-image: url(imgs/pinterest.png);
  width: 13px;
}
.basket {
  background: #f4f4f4;
  padding: 30px 30px 20px;
  width: 760px;
  box-shadow: 0 0 10px #555;
  margin: 0 0 40px 20px;
}
.basket__img {
  width: 100%;
  height: auto;
}
.basket__header {
  color: #444;
  font-size: 21px;
  margin-bottom: 20px;
  font-family: Helvetica Neue Bold;
}
.basket__empty {
  color: #444;
  font-family: Helvetica Neue Medium;
}
.basket__item {
  line-height: 66px;
  position: relative;
  padding-right: 136px;
  padding-bottom: 15px;
  border-bottom: 1px solid #ddd;
  margin-top: 15px;
}
.basket__item:last-child {
  border-bottom: none;
}
.basket__item-image {
  width: 100px;
  height: 66px;
  display: inline-block;
  vertical-align: top;
  overflow: hidden;
}
.basket__item-name {
  display: inline-block;
  font-size: 16px;
  color: #444;
  font-family: Helvetica Neue Bold;
  margin-left: 5px;
}
.basket__item-remove {
  text-decoration: none;
  color: #65a0b8;
  font-size: 10px;
  font-family: Helvetica Neue Medium;
  margin-left: 5px;
  vertical-align: bottom;
}
.basket__item-amount {
  font-size: 14px;
  color: #444;
  font-family: Helvetica Neue Bold;
  border: 1px solid #d7d7d7;
  padding: 8px;
  width: 34px;
  text-align: center;
  position: absolute;
  top: 16px;
  right: 94px;
}
.basket__item-price {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  font-family: Helvetica Neue Bold;
  font-size: 21px;
  color: #444;
}
.basket__footer {
  position: relative;
}
.basket__total {
  font-size: 24px;
  color: #444;
  font-family: Helvetica Neue Bold;
  margin-top: 26px;
}
.basket__button {
  border: 1px solid #ef8a00;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7a312', endColorstr='#ef8a00', GradientType=0);
  background-image: linear-gradient(to top, #ef8a00, #ef9913, #f7a312);
  color: #fff;
  font-size: 10px;
  font-family: Helvetica Neue Bold;
  width: 112px;
  height: 32px;
  position: absolute;
  right: 0;
  bottom: 0;
}
.loading {
  width: 160px;
  height: 120px;
  background: url(imgs/loading.gif) no-repeat 50% 50%;
  margin: 50px auto;
}
.no-products {
  margin: 50px auto;
  text-align: center;
  color: #fff;
  font-family: Helvetica Neue Medium;
}
